[submodule "coupon-service"]
	path = coupon-service
	url = https://github.com/Fawry-Intern-Round-8/Coupon-API
[submodule "bank-service"]
	path = bank-service
	url = https://github.com/Fawry-Intern-Round-8/Bank-API
[submodule "eureka-service"]
	path = eureka-service
	url = https://github.com/Fawry-Intern-Round-8/eureka-server
[submodule "store-service"]
	path = store-service
	url = https://github.com/Fawry-Intern-Round-8/Store-API
[submodule "order-service"]
	path = order-service
	url = https://github.com/Fawry-Intern-Round-8/Order-API
[submodule "user-service"]
	path = user-service
	url = https://github.com/Fawry-Intern-Round-8/User-API
[submodule "product-service"]
	path = product-service
	url = https://github.com/Fawry-Intern-Round-8/Product-API
