[submodule "Coupon-API"]
	path = Coupon-API
	url = https://github.com/Fawry-Intern-Round-8/Coupon-API
[submodule "Bank-API"]
	path = Bank-API
	url = https://github.com/Fawry-Intern-Round-8/Bank-API
[submodule "eureka-server"]
	path = eureka-server
	url = https://github.com/Fawry-Intern-Round-8/eureka-server
[submodule "Store-API"]
	path = Store-API
	url = https://github.com/Fawry-Intern-Round-8/Store-API
[submodule "Order-API"]
	path = Order-API
	url = https://github.com/Fawry-Intern-Round-8/Order-API
[submodule "User-API"]
	path = User-API
	url = https://github.com/Fawry-Intern-Round-8/User-API
[submodule "Product-API"]
	path = Product-API
	url = https://github.com/Fawry-Intern-Round-8/Product-API
